# Prevedere il crime rate

## Caricamento Librerie
Per prima cosa carichiamo le librerie per effettuare operazioni sui dati

*   NumPy per creare e operare su array a N dimensioni
*   pandas per caricare e manipolare dati tabulari
*   matplotlib per creare grafici

Importiamo le librerie usando i loro alias convenzionali

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn
%matplotlib inline

## Caricamento dei dati
I dataset presi sono satti scricati dal sito uffucuale delle nazioni unite (da completare)

In [6]:
import os.path
files = [
    "data_cts_corruption_and_economic_crime.csv",
    "data_cts_intentional_homicide.csv",
    "data_cts_prisons_and_prisoners.csv",
    "data_cts_violent_and_sexual_crime.csv"
]

dataframe_names = ['crime1', 'crime2', 'crime3', 'crime4']

missing_files = [file for file in files if not os.path.exists(file)]

if missing_files:
    for missing_file in missing_files:
        print(f"Missing Dataset: {missing_file}")
else:
    dataframes = {}
    for file, name in zip(files, dataframe_names):
        dataframes[name] = pd.read_csv(file, index_col=False, encoding='latin1')

In [7]:
crime1 = dataframes['crime1']
crime2 = dataframes['crime2']
crime3 = dataframes['crime3']
crime4 = dataframes['crime4']
crime1.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22756 entries, 0 to 22755
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   UNODC              22756 non-null  object
 1   unodc_ddds@un.org  22755 non-null  object
 2   Unnamed: 2         22755 non-null  object
 3   Unnamed: 3         22755 non-null  object
 4   Unnamed: 4         22755 non-null  object
 5   Unnamed: 5         22755 non-null  object
 6   Unnamed: 6         22755 non-null  object
 7   Unnamed: 7         22755 non-null  object
 8   Unnamed: 8         22755 non-null  object
 9   Unnamed: 9         22755 non-null  object
 10  Unnamed: 10        22755 non-null  object
 11  Unnamed: 11        22755 non-null  object
 12  Unnamed: 12        22755 non-null  object
dtypes: object(13)
memory usage: 18.9 MB

In [8]:
crime1.head()

,UNODC,unodc_ddds@un.org,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,16/05/2024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
2,ARM,Armenia,Asia,Western Asia,Offences,by type of offence,Corruption,Total,Total,2013,Counts,782,CTS
3,AUT,Austria,Europe,Western Europe,Offences,by type of offence,Corruption,Total,Total,2013,Counts,3439,CTS
4,CHE,Switzerland,Europe,Western Europe,Offences,by type of offence,Corruption,Total,Total,2013,Counts,4884,CTS

In [9]:
crime2.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,ARM,Armenia,Asia,Western Asia,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,35.0,CTS
1,CHE,Switzerland,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,28.0,CTS
2,COL,Colombia,Americas,Latin America and the Caribbean,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,15053.0,CTS
3,CZE,Czechia,Europe,Eastern Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,69.0,CTS
4,DEU,Germany,Europe,Western Europe,Persons arrested/suspected for intentional hom...,by citizenship,National citizens,Male,Total,2013,Counts,455.0,CTS

In [10]:
crime3.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,BRB,Barbados,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,0.0,CTS
1,CRI,Costa Rica,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,173.0,CTS
2,DMA,Dominica,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,65.0,CTS
3,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,61.0,CTS
4,ITA,Italy,Europe,Southern Europe,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,1443.0,CTS

In [11]:
crime4.head()

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,AZE,Azerbaijan,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,155.0,CTS
1,BEL,Belgium,Europe,Western Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,61959.0,CTS
2,BGR,Bulgaria,Europe,Eastern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,3806.0,CTS
3,BHR,Bahrain,Asia,Western Asia,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,2701.0,CTS
4,BLR,Belarus,Europe,Eastern Europe,Violent offences,by type of offence,Serious assault,Total,Total,2003,Counts,4032.0,CTS

In [12]:
crime.describe()

NameError: name 'crime' is not defined

## Preprocessing dei dati
Rinomianiamo alcune colonne per miglioraarne la comprensione, e eliminiamo le colonne non funzionali allo scopo della predizione, come l'età e la dimensione.

In [ ]:
crime = crime.drop(['Iso3_code', 'Sex', 'Age', 'Source', 'Dimension'], axis=1)
crime.head()

,Country,Region,Subregion,Indicator,Category,Year,Unit of measurement,VALUE
0,Armenia,Asia,Western Asia,Offences,Corruption,2013,Counts,782.0
1,Austria,Europe,Western Europe,Offences,Corruption,2013,Counts,3439.0
2,Switzerland,Europe,Western Europe,Offences,Corruption,2013,Counts,4884.0
3,Chile,Americas,Latin America and the Caribbean,Offences,Corruption,2013,Counts,339.0
4,Colombia,Americas,Latin America and the Caribbean,Offences,Corruption,2013,Counts,23483.0